.filemanager {
	margin-top: 0;
	top: 0;
	width: 100%;
}

#filehead {
	position: absolute;
	top: 0;
	z-index: 2;
	height: 75px;
}

#filetext {
	position: absolute;
	top: 20px;
	left: 90px;
	z-index: 2;
	font-size: 25px;
	height: 60px;
	width: 500px;
}

#blogicon {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	height: 60px;
	width: 60px;
}

#filebuttons {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	height: 60px;
	width: 200px;
}

#filebody {
	margin-top: 75px;
	height: calc(100vh - 150px);
}

#post {
	color: black;
	position: absolute;
	top: 100px;
	left: calc(10vw);
	width: 80vw;
	max-height: calc(100vh - 200px);
	z-index: 3;
	overflow: auto;
	font-family: post;
}

#post::-webkit-scrollbar-track {
	border: 1px solid black;
	background-color: #F5F5F5;
}

#post::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

#post::-webkit-scrollbar-thumb {
	background-color: #000000;	
}

h1 {
	font-size: calc(32px + 1vw);
}

#post p {
	font-size: calc(16px + 0.5vw);
}

#post img {
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: dashed;
	border-right-style: dashed;
	border-width: 3px;
}

.widepic {
	width: 95%;
	margin: 0 auto;
}

li p {
	margin-bottom: 0;
}