/*misc*/
@font-face {
	font-family: "CaL";
	src: url("../../assets/fonts/CaL.ttf");
}

@font-face {
	font-family: "Gilbert";
	src: url("../../assets/fonts/Gilbert.otf");
}

body {
	font-family: "CaL";
	background-color: #F4FFFD;
	z-index: 0;
}

/*navbar*/
header {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	background-color: #F4F4F4;
}

.navbar {
	padding-right: 0;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.logo, .logo:hover {
	color: #61B0AD;
}

/*index page*/
#contentIndex {
	max-width: 1024px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardIndex {
	max-width: 340px;
}

.cardIndex .card-header {
	color: #61B0AD;
	font-size: calc(12px + 1.5vw);
}

.card-header, .card-body, .card-footer, .card-footer a {
	background-color: #F4F4F4;
	font-size: 1em;
	font-weight: bold;
}

.btn-dark, .btn-dark:hover {
	background-color: #61B0AD !important;
	border-style: none !important;
	color: #F4FFFD !important;
}

/*highschool, college, post-college*/
table {
	background-color: #F4FFFD !important;
	font-size: calc(12px + 0.75vw);
}

.label {
	font-weight: bold;
	min-width: calc(12px + 30vw);;
}

table tr td a, table tr td a:hover {
	color: #61B0AD;
}

/*blog*/
.cardBlog {
	width: 100%;
	margin-bottom: 25px;
}

.cardBlog .card-header {
	color: #61B0AD;
	font-size: calc(12px + 2.5vw);
}

/*all pages*/
#banner {
	padding-top: 75px;
	background-image: url(../../assets/images/banner.png);
	background-size: cover;
	height: 500px;
	width: 100%;
}

#banner h1 {
	font-family: "CaL";
	font-size: calc(12px + 4.5vw);
	color: #F4FFFD;
	padding-left: 10%;
	padding-top: 75px;
	text-decoration: underline #F4FFFD;
}

#banner p {
	font-family: "CaL";
/*	font-size: 2em;*/
	font-size: calc(12px + 1.5vw);
	color: #F4FFFD;
	padding-left: 10%;
}

#content {
	max-width: 1024px;
	margin: auto;
	margin-bottom: 25px;
}

.author {
	font-size: 0.5em;
	font-weight: normal;
}

h1 {
	font-weight: bold;
	font-size: 3em;
	margin-top: calc(20px + 1.5vh);
}

a, a:hover {
	font-weight: bold;
	color: #000;
}

.subTitle {
	color: #61B0AD;
	font-size: calc(12px + 1.5vw);
}

.description {
	font-size: calc(12px + 1.0vw);
}

.list-group-item {
	background-color: #F4FFFD;
}

#content ul li a {
	font-size: calc(12px + 1.0vw);
}